
<h1> Welcome To The Battle! </h1>
<form action="/names" method="post" >
	<h2> Player 1, can you please enter your name: </h2>
	<input type="text" name="player_1_name">
	<h2> Player 2, can you please enter your name: </h2>
	<input type="text" name="player_2_name">
	<input type="submit" value="Play">
</form>
